* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  font-family: "Faster One", cursive;
  text-align: center;
  padding: 1rem 0;
  background-color: #e10600;
  color: #fff;
  background: radial-gradient(
    circle,
    rgba(225, 6, 0, 1) 0%,
    rgba(225, 6, 0, 1) 61%,
    rgba(0, 0, 0, 1) 100%
  );
}
header h1 {
  font-size: 3rem;
}
header .logo {
  font-size: 2rem;
}
header .logo img {
  width: 150px;
  margin-top: 1rem;
}
.score-board {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Poppins";
  margin: 0.5rem 0 0 0;
}

.main {
  background: #f8f4f9;
  padding-top: 1rem;
}
.main h4 {
  text-align: center;
}
.main .cards {
  padding: 2rem 3rem;
  display: grid;
  gap: 20px 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  background: #7a0400;
  padding: 1rem 0;
  align-items: center;
  color: #f8f4f9;
  border-radius: 20px;
  cursor: pointer;
}
.card img {
  align-self: center;
  width: 250px;
  height: 300px;
  background-position: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: radial-gradient(
    circle,
    rgba(225, 6, 0, 1) 0%,
    rgba(225, 6, 0, 1) 61%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #c9d1d9;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
